//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background   : rgb(158, 135, 88);
$color-name         : #333;
$color-tagline      : #171717;
$color-text         : #171717;
$color-headings     : rgb(171, 205, 125);
$color-credit       : #171717;
$color-link         : #171717;
$color-link-hover   : #eee;
$color-mission   : #eee;
//rgb(171, 205, 125)

// Breakpoints
$bp-smallish        : 991px;
$bp-tablet          : 767px;
$bp-mobile          : 479px;

// Image
$image-background   : {{ if .Site.Params.visual.image.enable }}url('../{{ .Site.Params.visual.image.file | default "images/background.jpg" }}'){{ else }}none{{ end }};
$image-position     : {{ if .Site.Params.visual.image.enable }}{{ .Site.Params.visual.image.position | default "50% 50%" }}{{ else }}0% 0%{{ end }};

// Animation
$animation-name     : fadein;
$animation-duration : 2s;

//-------------------------------------------------------------------------------
// Imports
//-------------------------------------------------------------------------------

@import "normalize";
@import "webflow";
@import "animation";
@import "fonts";
@import "content";
