.body {
    background-color: rgb(158	135	88);
}

.name {
    color: #333;
}

.tagline {
    color: #171717;
    font-size: 58px;
    line-height: 100%;
}

.bio p {
    font-family: Lora, sans-serif;
    color: #171717;
}

.bio h2 {
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    color: rgb(171	205	125	);
    letter-spacing: 2px;
    font-weight: normal;
}

.bio .logo img {
    height:auto;
    width:40%
}

b strong {
    color: #000;
    font-weight: bold;
}

.rightcontent {
    padding: 60px;
}