.body {
    background-color: rgb(158 135 88);
}

.bio {
  display: block;
  height: auto;
  float: left;
}

b strong {
    color: #000;
    font-weight: bold;
}

.rightcontent {
    padding: 60px;
}
