.body {
    background-color: rgb(158 135 88);
}

.bio {
  display: block;
  height: auto;
  float: left;
}

.bio p {
    font-family: Lora, sans-serif;
    color: #171717;
}

.bio h2 {
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    color: rgb(171 205 125);
    letter-spacing: 2px;
    font-weight: normal;
}

b strong {
    color: #000;
    font-weight: bold;
}

.intro {
  width: 100%;
  text-align: center;
}

.intro .logo img {
  display:block;
}

.mission h3 {
  color: #eee;
  font-family: Lora, sans-serif;
  font-size: 46px;
  line-height: 100%;
}

.rightcontent {
    padding: 60px;
}
