.body {
    background-color: rgb(158	135	88);
}

.name {
    color: #333;
}

.tagline {
    color: #171717;
    font-size: 58px;
    line-height: 100%;
}

.bio p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

b strong {
    color: #000;
    font-weight: bold;
}

.rightcontent {
    padding: 60px;
}