.body {
    background-color: rgb(240 224 161);
}

.name {
    color: #333;
}

.bio p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

b strong {
    color: #000;
    font-weight: bold;
}
